*{
    box-sizing: border-box; 
}

 #home{
    position: relative;
}
.leaf1{
    position: absolute;
    top:3rem;
    left:40%;
}
.home-outter{
    display: table;
    height: 750px;
}
.home-inner{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.home-inner h1{
    font-family: serif;
    font-weight:700;
    font-size:3.5rem;
    color:rgb(33, 38, 43);
    margin: 0;
   
}
.home-inner h2{
    font-size: 1.7rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:5px 7rem;
    color:rgb(145, 94, 32);
}
.home-inner p{
    color:rgb(136, 117, 57);
    text-align: start;
    padding:0 6rem 0 6rem;
}
.shopbtn{
    border:none;
    font-weight: 900;
    border-radius:20px;
    padding:0px 9px;
    color:aliceblue;
    background-color: rgba(15, 16, 17, 0.432);
}
.home-btn{
    margin-top: 3rem;
}
.shopbtn:hover{
    background-color:rgb(95, 74, 55)
}
.readbtn{
    border:none;
    margin-left:1.5rem;
    background-color:transparent;
    font-weight:900;
}
.homefooter{
    position: absolute;
    bottom: 0;
    width:100%;
    height:150px;
    background-color: rgb(82, 68, 30);
    z-index: 10;
}
.homefooter p{
    color:white;
    font-family:serif;
    font-size:2.2rem;
    text-align: center;
    display: inline-block;
    padding-top:2.5rem;
    padding-left:12rem;
    z-index: 120;
}
.homefooter span{
    padding-top:-3rem;
    margin-top:0;
    font-size: 1rem;
}
.leaf2{
    position: absolute;
    bottom:0rem;
    right:0;
    z-index: 100;
} 
@media screen and (max-width:1230px) {
#home{
        position:relative;
        height:810px;
    }
.home-img{
    display:none;
   }
.home-outter{
    display: table;
    width:100%;
    height: 610px;
}
.home-inner{
    display: table-cell;
    text-align: center;
    /* margin-top: 0rem; */
    vertical-align: middle;
}
.home-inner h1{
    font-family: serif;
    font-weight:700;
    font-size:3.5rem;
    color:rgb(33, 38, 43);
    margin: 0;
   
}
.home-inner h2{
    font-size: 1.7rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:5px 7rem;
    color:rgb(145, 94, 32);
}
.home-inner p{
    color:rgb(136, 117, 57);
    text-align: start;
    padding:0 6rem 0 6rem;
}
.shopbtn{
    border:none;
    font-weight: 900;
    border-radius:20px;
    padding:0px 9px;
    color:aliceblue;
    background-color: rgba(15, 16, 17, 0.432);
}
.down-btn{
    margin-top: 3rem;
}
.home-btn{
    margin-top: 3rem;
}
.shopbtn:hover{
    background-color:rgb(95, 74, 55)
}
.readbtn{
    border:none;
    margin-left:1.5rem;
    background-color:transparent;
    font-weight:900;
}
.homefooter{
    position: absolute;
    bottom: 0;
    width:100%;
    height:auto;
    background-color: rgb(82, 68, 30);
    z-index: 10;
}
.homefooter p{
    color:white;
    font-family:serif;
    font-size:1.5rem;
    text-align: center;
    display: inline-block;
    padding-top:2.5rem;
    z-index: 120;
    /* padding-left:3rem; */
}
.homefooter span{
    padding-top:-3rem;
    margin-top:0;
    font-size: 1rem;
}
.leaf1{
    position: absolute;
    top: 1rem;
    left:68%;
    z-index: 10;
}
.leaf2{
    position: absolute;
    bottom:-3rem;
    left:-4rem;
    z-index: 100;
}

}
@media screen and (max-width: 670px) {
    .homefooter{
        width:100%;
        height:150px;
    }    
    
    .homefooter p{
        color:rgb(141, 33, 33);
        font-family:serif;
        font-size:1.4rem;
        text-align: center;
        display: inline-block;
        padding-top:2.5rem;
        padding-left:3.1rem;
        z-index: 920;
}
.homefooter p:first-child{
    padding-left:3rem;
}
.homefooter span{
    font-size:0.7rem;
}
.home-inner p{
    color:rgb(136, 117, 57);
    text-align: start;
    padding:0 2rem 0 2rem;
}
}